body{
    border: 5px solid orange;
    margin: 0;
    padding: 1rem;
}
.card-container{
    border: 5px solid red;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}
.card{
    padding: 2rem;
    border: 5px solid rgb(15, 4, 161);
    border-radius: 1rem;
    font-size: 1.5rem;
    opacity: 0;
}
.card.show{
    opacity: 1;
    transition: visibility 0s linear 0s, opacity 1s;
}